*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: rgba(207, 115, 54);
    overflow: hidden;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* red team: rgba(184, 56, 59) */
/* blue team: rgba(88, 133, 162) */
/* background: linear-gradient(100deg, rgba(184, 56, 59), rgba(88, 133, 162)); */

.command {
    font-family: console-font;
    margin-bottom: 5px;
}

#output {
    display: none;
}

.page-container {
    position: relative;
    font-family: console-font;
    font-size: 1.3vw;
    color: white;
}

#console {
    display: block;
    width: 55.6%;
    max-width: 100%;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
}

.text-container {
    position: fixed;
    /* top: 8%;
    left: 23.5%; */
    left: 50.3%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* height: 39.5vw;  */
    height: 40.9vw;
    /* width: 52.67vw; */
    width: 53.5vw;
    overflow: scroll;
    overflow-x: hidden;
    z-index: 9999;
}

.img-container {
    display: block;
    width: 55.6%;
    height: var(--console-height);
    max-width: 100%;
    max-height: 100%;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.container {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    background-color: rgba(33, 135, 19, 255);
    /* rgba(68, 19, 135, 255) */
    border-left: 1.6px solid rgba(112, 189, 89, 255);
    /* rgba(126, 88, 192, 255) */
    padding: .6%;
    padding-left: 1.1%;  
}

input[type=text] {
    width: 82%;
    height: 2vw;
    transform: translateY(25%);
    border-top: 1px solid rgba(24, 76, 5, 255);
    border-left: 1px solid rgba(29, 84, 10, 255);
    border-right: 1px solid rgba(97, 185, 83, 255);
    border-bottom: 1px solid rgba(101, 180, 80, 255);
    background-color: rgba(35, 104, 20, 255);
    
    font-family: console-font;
    font-size: 1.5vw;
    color: white;
    padding: 1%;

}

input:focus
{
    border: none;
    outline: none;
    box-shadow: none;
}

button {
    font-family: console-font;
    font-size: 1.6vw;
    text-align: left;
    color: white;
    height: 3vw;
    width: 16%;
    border-top: 1px solid rgba(97, 183, 77, 255);
    border-left: 1px solid rgba(106, 175, 86, 255);
    border-right: 1px solid rgba(16, 82, 6, 255);
    border-bottom: 1px solid rgba(21, 78, 6, 255);
    background-color: rgba(33, 135, 19, 255);
}

.indent {
    margin-left: 20px;
}

.text-container::-webkit-scrollbar {
    width: 1.8vw;
}
/* 
.text-container::-webkit-scrollbar-button:vertical:increment {
    height: 5%;
    background: url(portal-down-arrow.png);
    background-size: cover;
    background-repeat: no-repeat;
  }

.text-container::-webkit-scrollbar-button:vertical:decrement {
    height: 5%;
    background: url(portal-up-arrow.png);
    background-size: cover;
    background-repeat: no-repeat;
  }

::-webkit-scrollbar-button:vertical:start:increment,
::-webkit-scrollbar-button:vertical:end:decrement,
::-webkit-scrollbar-button:horizontal:start:increment, 
::-webkit-scrollbar-button:horizontal:end:decrement 
{
    display: none;
} */

::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 3px rgba(121,145,146,255); */
    /* background: rgba(95, 73, 113, 255); */
    background: rgba(78, 113, 73, 255);
}

::-webkit-scrollbar-thumb {
    /* border: 1px solid rgba(129, 115, 150, 255); */
    /* background: rgba(80, 59, 95, 255); */
    border: 1px solid rgba(131, 149, 121, 255);
    background: rgba(63, 95, 59, 255);
}