body {
    background: rgba(207, 115, 54);
    overflow: hidden;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* red team: rgba(184, 56, 59) */
/* blue team: rgba(88, 133, 162) */
/* background: 
      linear-gradient(100deg, rgba(184, 56, 59), rgba(88, 133, 162)); */

.container {
    font-family: console-font;
    font-size: 1.3vw;
    position: relative;
    color: white;
}


#console {
    display: block;
    width: 55.6%;
    max-width: 100%;
    max-height: 100%;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.text-container {
    position: fixed;
    /* top: 8%;
    left: 23.5%; */
    left: 50.3%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* height: 39.5vw;  */
    height: 40.9vw;
    /* width: 52.67vw; */
    width: 53.5vw;
    overflow: scroll;
    overflow-x: hidden;
}

input[type=text] {
    width: 30vw;
    height: 2vw;
    border-top: 1px solid rgba(24, 76, 5, 255);
    border-left: 1px solid rgba(29, 84, 10, 255);
    border-right: 1px solid rgba(97, 185, 83, 255);
    border-bottom: 1px solid rgba(101, 180, 80, 255);
    background-color: rgba(35, 104, 20, 255);
    margin-right: 1em; 
}

button {
    position: fixed;
    font-family: console-font;
    font-size: 1.1vw;
    color: white;
    height: 2.3vw;
    width: 5.3vw;
    text-align: left;
    border-top: 1px solid rgba(97, 183, 77, 255);
    border-left: 1px solid rgba(106, 175, 86, 255);
    border-right: 1px solid rgba(16, 82, 6, 255);
    border-bottom: 1px solid rgba(21, 78, 6, 255);
    background-color: rgba(33, 135, 19, 255);
}

/* 

input[type=text] {
    width: 30vw;
    height: 2vw;
    border-top: 1px solid rgba(28, 5, 75, 255);
    border-left: 1px solid rgba(32, 10, 81, 255);
    border-right: 1px solid rgba(123, 83, 185, 255);
    border-bottom: 1px solid rgba(111, 81, 181, 255);
    background-color: rgba(51, 20, 104, 255);
    margin-right: 1em; 
} 

*/

/* 

button {
    position: fixed;
    font-family: console-font;
    font-size: 1.1vw;
    color: white;
    height: 2.3vw;
    width: 5.3vw;
    text-align: left;
    border-top: 1px solid rgba(117, 77, 184, 255);
    border-left: 1px solid rgba(113, 87, 176, 255);
    border-right: 1px solid rgba(36, 6, 82, 255);
    border-bottom: 1px solid rgba(30, 5, 79, 255);
    background-color: rgba(68, 19, 135, 255);

}

*/


.text-container::-webkit-scrollbar {
    width: 1.8vw;
}
/* 
.text-container::-webkit-scrollbar-button:vertical:increment {
    height: 5%;
    background: url(portal-down-arrow.png);
    background-size: cover;
    background-repeat: no-repeat;
  }

.text-container::-webkit-scrollbar-button:vertical:decrement {
    height: 5%;
    background: url(portal-up-arrow.png);
    background-size: cover;
    background-repeat: no-repeat;
  }

::-webkit-scrollbar-button:vertical:start:increment,
::-webkit-scrollbar-button:vertical:end:decrement,
::-webkit-scrollbar-button:horizontal:start:increment, 
::-webkit-scrollbar-button:horizontal:end:decrement 
{
    display: none;
} */

::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 3px rgba(121,145,146,255); */
    /* background: rgba(95, 73, 113, 255); */
    background: rgba(78, 113, 73, 255);
}

::-webkit-scrollbar-thumb {
    /* border: 1px solid rgba(129, 115, 150, 255); */
    /* background: rgba(80, 59, 95, 255); */
    border: 1px solid rgba(131, 149, 121, 255);
    background: rgba(63, 95, 59, 255);
}