body {
    background-color: black;
}

#tv {
    position: fixed;
    display: block;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;

}

#static {
    position: fixed;
    width: 750px;
    height: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: none;
    z-index: 1;

}

.tv-video {
    object-fit: initial;
    position: fixed;
    width: 700px;
    height: 600px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 0;
    display: none;
}

#static-overlay {
    position: fixed;
    width: 750px;
    height: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    opacity: 0.1;
    pointer-events: none; 
    z-index: 1;


}

.tv-container {
    display: block;
    height: var(--tv-height);
    width: 72.5%;
    max-width: 100%;
    max-height: 100%;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 3;
}

.button-container {
    width: 100%;
    position: absolute;
    bottom: 8%;
    display: flex;
}
#power-button {
    width: 7%;
    cursor: pointer;
}

