body {
    background-color: hotpink;
}

.container {
    font-family: console-font;
    font-size: 1.3vw;
    position: relative;
    color: white;
}

#console {
    height: auto;
    margin-top: 2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
}

.text-container {
    position: absolute;
    top: 8%;
    left: 23.5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 40vw;
    width: 52.2vw;
    overflow: scroll;
}
.ken {
    color:hotpink;
    font-weight: bold;
}
h3 {
    text-transform: uppercase;
    line-height: 30%;
}

::-webkit-scrollbar {
    width: 1.7vw;
}

::-webkit-scrollbar-button {
    background: url(barbie-up-arrow.png);
}

::-webkit-scrollbar-track {
    background: rgba(138, 48, 86, 255);
}

::-webkit-scrollbar-thumb {
    background: url(barbie-scroll.png);
    border-bottom: 100px;
}