body {
    background-color: hotpink;
    overflow: hidden;

}

.container {
    font-family: console-font;
    font-size: 1.3vw;
    position: relative;
    color: white;
}

#console {
    display: block;
    width: 55.6%;
    max-width: 100%;
    max-height: 100%;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.text-container {
    position: fixed;
    /* top: 8%;
    left: 23.5%; */
    left: 50.3%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* height: 39.5vw;  */
    height: 40.9vw;
    /* width: 52.67vw; */
    width: 53.5vw;
    overflow: scroll;
    overflow-x: hidden;
}
.ken {
    color:hotpink;
    font-weight: bold;
}
h3 {
    text-transform: uppercase;
    line-height: 30%;
}

.text-container::-webkit-scrollbar {
    width: 1.8vw;
}
/* 
.text-container::-webkit-scrollbar-button:vertical:increment {
    height: 5%;
    background: url(portal-down-arrow.png);
    background-size: cover;
    background-repeat: no-repeat;
  }

.text-container::-webkit-scrollbar-button:vertical:decrement {
    height: 5%;
    background: url(portal-up-arrow.png);
    background-size: cover;
    background-repeat: no-repeat;
  }

::-webkit-scrollbar-button:vertical:start:increment,
::-webkit-scrollbar-button:vertical:end:decrement,
::-webkit-scrollbar-button:horizontal:start:increment, 
::-webkit-scrollbar-button:horizontal:end:decrement 
{
    display: none;
} */

::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 3px rgba(121,145,146,255); */
    background: rgba(138,48,86,255);
}

::-webkit-scrollbar-thumb {
    border: 1px solid rgba(171,112,148,255);
    background: rgba(112,44,73,255);
    /* background: url(portal-scroll2.png); */
 
}