body {
    /* background: url("sky.jpg"); */
    background: radial-gradient(transparent, black);
    overflow: hidden;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    font-family: console-font;
    font-size: 1.3vw;
    position: relative;
    color: white;
}


#console {
    display: block;
    width: 55.6%;
    max-width: 100%;
    max-height: 100%;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.text-container {
    position: fixed;
    /* top: 8%;
    left: 23.5%; */
    left: 50.3%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* height: 39.5vw;  */
    height: 40.9vw;
    /* width: 52.67vw; */
    width: 53.5vw;
    overflow: scroll;
    overflow-x: hidden;
}

input[type=text] {
    width: 30vw;
    height: 2vw;
    border-top: 1px solid rgba(34, 37, 47, 255);
    border-left: 1px solid rgba(38, 41, 50, 255);
    border-right: 1px solid rgba(126, 128, 143, 255);
    border-bottom: 1px solid rgba(122, 123, 138, 255);
    background-color: rgba(56, 58, 68, 255);
    
}


.text-container::-webkit-scrollbar {
    width: 1.8vw;
}

::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 3px rgba(121,145,146,255); */
    background: rgba(90, 88, 98, 255);
}

::-webkit-scrollbar-thumb {
    border: 1px solid rgba(132, 132, 139, 255);
    background: rgba(75, 73, 82, 255);
    /* background: url(portal-scroll2.png); */
 
}