body {
    background: 
      linear-gradient(100deg, rgba(0,101,255), rgba(255,154,0));
    overflow: hidden;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    font-family: console-font;
    font-size: 1.3vw;
    position: relative;
    color: white;
}


#console {
    display: block;
    width: 55.6%;
    max-width: 100%;
    max-height: 100%;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.text-container {
    position: fixed;
    /* top: 8%;
    left: 23.5%; */
    left: 50.3%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* height: 39.5vw;  */
    height: 40.9vw;
    /* width: 52.67vw; */
    width: 53.5vw;
    overflow: scroll;
    overflow-x: hidden;
}

input[type=text] {
    width: 30vw;
    height: 2vw;
    border-top: 1px solid rgba(26, 43, 44, 255);
    border-left: 1px solid rgba(40, 59, 58, 255);
    border-right: 1px solid rgba(123, 147, 148, 255);
    border-bottom: 1px solid rgba(123, 147, 148, 255);
    background-color: rgba(52, 72, 73, 255);
    margin-right: 1em; 
}

button {
    position: fixed;
    font-family: console-font;
    font-size: 1.1vw;
    color: white;
    height: 2.3vw;
    width: 5.3vw;
    text-align: left;
    border-top: 1px solid rgba(122, 148, 148, 255);
    border-left: 1px solid rgba(119, 142, 142, 255);
    border-right: 1px solid rgba(32, 51, 51, 255);
    border-bottom: 1px solid rgba(29, 44, 45, 255);
    background-color: rgba(63, 89, 92, 255);
}


.text-container::-webkit-scrollbar {
    width: 1.8vw;
}

::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 3px rgba(121,145,146,255); */
    background: rgba(74,107,112,255);
}

::-webkit-scrollbar-thumb {
    border: 1px solid rgba(126,151,151,255);
    background: rgba(63,89,92,255);
    /* background: url(portal-scroll2.png); */
 
}