body {
    background-color: rgb(251,126,20);
}

.container {
    font-family: console-font;
    font-size: 1.3vw;
    position: relative;
    color: white;
}

#console {
    height: auto;
    margin-top: 2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
}

.text-container {
    position: absolute;
    top: 8%;
    left: 23.5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 40vw;
    width: 52.2vw;
    overflow: scroll;
}

#name {
    color: rgb(251,126,20);
}

::-webkit-scrollbar {
    width: 1.7vw;
}

::-webkit-scrollbar-button {
    background: url(steam-up-arrow.png);
}

::-webkit-scrollbar-track {
    background: rgba(90, 106, 80, 255);
}

::-webkit-scrollbar-thumb {
    background: url(steam-scroll.png);
}

